.filterWrapper {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  margin: 50px 30px;
  border-radius: 10px;
  padding-bottom: 30px;
}

.filterWrapper > button {
  margin: 8px 25px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.filterWrapper > div > p {
  margin-top: 25px;
  width: 90%;
  font-weight: 700;
}

.filterWrapper > div > button {
  box-shadow: none;
  margin-right: 1.5vw;
  height: 40px;
  width: 40px;
  margin-top: 16px;
  background-color: transparent;
  scale: 0.9;
}

.filterWrapper > div > button:hover {
  background-color: transparent;
  filter: invert(0.3);
}

.filterdivider, .filterdivider2 {
  width: 90%;
  height: 2px;
  background-color: var(--divider-colour);
  opacity: 0.15;
  margin: 0px auto 10px auto;
}

.filterdivider2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.active-filter {
  background-color: var(--accent-colour);
}

.active-filter:hover {
  background-color: var(--accent-colour);
}

.filterWord {
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

.filterClose {
  filter: invert(var(--invert-value));
}