@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.App {
  --main-bg-color: #70e7c4ff;
  --secondary-bg-color: white;
  --secondary-bg-color-hover: rgba(245, 245, 245, 1);
  --tertiary-bg-color: #f5f5f5!important;
  --tertiary-bg-color-hover: rgb(232, 232, 232)!important;
  --main-fg-color: black;
  --invert-value: 0;
  --accent-colour: #70e7c4ff;
  --divider-colour: black;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
}

.App.dark {
  --main-bg-color: rgb(20, 20, 20)!important;
  --secondary-bg-color: #282828!important;
  --secondary-bg-color-hover: #2f2f2f!important;
  --tertiary-bg-color: #323232!important;
  --tertiary-bg-color-hover: rgb(61, 61, 61)!important;
  --main-fg-color: white!important;
  --invert-value: 1;
  --accent-colour: rgb(79, 184, 153);
  --divider-colour: white;
}


.fr {
  display: flex;
  flex-direction: row;
}


.fc {
  display: flex;
  flex-direction: column;
}

.sidePanel {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary-bg-color);
  color: var(--main-fg-color);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 30vw;
  // padding-bottom: 75px;
}

@media (max-width: 1199px) {
  .App {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .sidePanel {
    width: 100vw;
    height: 40vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.25s ease;
    margin-top: -10vh;
    z-index: 10;
  }

  .mrtmapWrapper, .mrtmap {
    width: 100vw!important;
    height: 70vh!important;
  }

  .mapLower, .mapLower > div > div > img {
    height: 60vh!important;
  }

  .mobileUp {
    height: 80vh!important;
    margin-top: -40vh;
  }

  .resultStations, .eta, .arr {
    width: 80vw!important;
  }

  .searchbutton {
    margin-left: 15px!important;
  }
}